html, body {height: 100%;}

.wrap {min-height: 100%;}

body {
  background: #FFF url('../img/background_wht.png') 0 0 repeat;
  font-family: futura-pt, helvetica, sans-serif;
  font-weight: 500;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}

.container {
  position: relative;
  height: 900px;
}

.main {
  width: 980px;
  margin: 0 auto;
  border-top: 8px solid #000;
}

.phone {
  float: left;
  width: 491px;
}

.phone img {
  max-width: 100%;
}

.content {
  float: left;
  width: 489px;
}

h1 {
  font-size: 30px;
  padding-top: 146px;
  font-weight: 500;
  line-height: 40px;
}

ul{
 font-size: 20px; 
 font-weight: 300;
 margin: 0 0 2em 1em;
 line-height: 40px;
}

p {
  font-size: 16px;
  text-align: right;
  margin-bottom: 1em;
}

p img {
  padding-left: 0.25em;
}

span, span a {
  line-height: 12px;
  vertical-align: bottom;
}

span a {
  text-decoration: none;
  color: #047BCD;
}

.main {
  overflow:auto;
	padding-bottom: 44px;}  /* must be same height as the footer */

footer{
  position: relative;
  bottom: 0;
  width: 980px;
  height: 44px;
  margin: -52px auto 0 auto; 
  border-bottom: 8px solid #000;  
  clear: both;
}


/*body {
  background: #010101;
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  text-transform: uppercase;
}

.inner {
  margin: 0 auto;
  width: 450px;
}

ul {
  margin-top: 0.25em;
  width: 450px;
}
li {
  padding-left: 0.5em
}
.levelOne {
  background: #ff0052;
}

.levelTwo {
  background: #ff2000;
}

.levelThree {
  background: #ff7600;
}

.levelFour {
  background: #ffa900;
}

.levelFive {
  background: #d7e600;
}

.levelSix {
  background: #00cc4b;
}

.levelSeven {
  background: #0084cc;
}

.levelEight {
  background: #ca00d9;
  font-size: 20px;
  line-height: 5.6em;
  padding-left: 0;
}

form {
  margin-left: 30px;
}

input {
  width: 310px;
  line-height: 3em;
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
}

input, 
input:invalid {
  background: #ca00d9;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  display: block;
  float: right;
  width: 75px;
  height: 112px;
  line-height: 0;
  padding-left: 15px;
  border-left: 4px solid #000;
  text-decoration: none;
  color: #000;
  font-size: 60px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="submit"]:hover,
.levelEight a:hover {
  background: #ff00a9;
}

.levelEight a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #000;
  padding-left: 2em;
}*/