html, body {height: 100%;}

.wrap {min-height: 100%;}

body {
  background: #FFF url('../img/background_wht.png') 0 0 repeat;
  font-family: futura-pt, helvetica, sans-serif;
  font-weight: 500;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}

.container {
  position: relative;
  height: 900px;
}

.main {
  width: 980px;
  margin: 0 auto;
  border-top: 8px solid #000;
}

.phone {
  float: left;
  width: 491px;
  height: 752px;
  background: url(../img/screen.png) no-repeat;
}

.content {
  float: left;
  width: 489px;
}

h1 {
  font-size: 30px;
  padding-top: 100px;
  font-weight: 500;
  line-height: 40px;
}

ul{
 font-size: 20px; 
 font-weight: 300;
 margin: 0 0 2em 1em;
 line-height: 40px;
}

p {
  font-size: 16px;
  text-align: right;
  margin-bottom: 1em;
}

p img {
  padding-left: 0.25em;
}

span, span a {
  line-height: 12px;
  vertical-align: bottom;
}

span a {
  text-decoration: none;
  color: #047BCD;
}

.main {
  overflow:auto;
	padding-bottom: 44px;}  /* must be same height as the footer */

p.support {
  text-align: left;
  margin-top: 2em;
  font-size: 0.8em;
}

footer{
  position: relative;
  bottom: 0;
  width: 980px;
  height: 44px;
  margin: -52px auto 0 auto; 
  border-bottom: 8px solid #000;  
  clear: both;
}


/* Slideshow */

#slideshow ul:after {  
content: ".";  
clear: both;  
display: block;  
height: 0;  
visibility: hidden;
}

.slides ul {
  width: 1566px;
  margin: 0;
  padding: 0;
}

.slides {  
overflow: hidden;  
width: 261px;
height: 392px;
margin: 172px 0 0 112px;
}

.slides li {
  float: left;  
  width: 261px;
  margin: 0;
  padding: 0;
}

.slides-nav a {
  text-decoration: none;
  color: #222;
}

.slides-nav a:hover {
  color: #ff4242;
}


/*.slides-nav li.on,
.slides-nav li.on a {
color: #ff4242;
}
*/
.slides-nav li.on,
.slides-nav li.on a {
color: #FF6600;}




